@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  background: #E7EAEF;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.clearfix {
  overflow: hidden;
}

.w-100 {
  width: 100%;
}

.clear {
  overflow: hidden;
}

.margin-top-16 {
  margin-top: 16px;
}
.padding-top-10{
  padding-top: 10px;
}
.col-row{
  width: 100%;
  overflow: hidden;
}
.width-25{
  width: 25%;
  float: left;
}
.width-33{
  width: 33%;
  float: left;
}
.text-align{
  text-align: center;
}
